.top-header {
  padding: 1em;
  padding-top: .6em;
  padding-bottom: .6em; 
  color:white;
}

.sign-in-btn {
  margin-right: .5em;
}

.guest-right-links a {
  color: white
}

.sign-out-btn {
  margin-left: 1rem;
}

.nav-logo {
  max-width: 28vw;
}

.header-middle-sect {
  margin-top: 1em;
  margin-bottom: 1em;
}

.login-links {
  margin-right: .5em;
  margin-left: .5em;
}

.welcome-message {
  font-size: 1.2em;
}