.top-header {
  padding: 1em;
  padding-top: .6em;
  padding-bottom: .6em; 
}

.sign-in-btn {
  margin-right: .5em;
}

.guest-right-links a {
  color: white
}

.sign-out-btn {
  margin-left: 1rem;
}

.nav-logo {
  max-width: 25vw;
}
