.event-img {
  max-width: 20vw;
  max-height: 20vw;
}

.ticket-details-container {
  display: flex;
  flex-direction: row;
  
}

.ticket-info-sect {
  margin-top: 2em;
}

.price-sect {
  min-width: 25%;
}

.details-sect {
  min-width: 50%;
}